* {
	margin: 0;
	padding: 0;
}

html {
	height: 100%;
}

body {
	height: 100%;
	background: url(../images/bg.jpg) center repeat-y;
	font: 11px/1.7 Verdana, Arial, sans-serif;
	color: #414141;
}

a {
	outline: none !important;
    color: #000000;
}

#nonFooter {
	position: relative;
	min-height: 100%;
    width: 800px;
    margin: 0 auto;
    padding-bottom: 2.75em;
}

* html #nonFooter {
	height: 100%;
}

	/* Header - i.e. banner. */
	#header {
		height: 110px;
		margin: 0;
		background: #fff url(../images/banner.jpg) no-repeat;
		margin-bottom: 8px;
	}
    
    #top{
        margin-bottom: 100px;
    }
    #map {
        width: 800px;
        height: 600px;
        background: #e0e0e0;
        position: relative;
        float: left;
    }
    
        
    #page-preview-frame{
        width: 800px;
        margin-top: 20px;
        position: relative;
        display: inline;
    }
    
    #tweets{
        width: 800px;
        margin-top: 15px;
        position:relative;
        
    }
    
    #tweets p{
        background: #e0e0e0;
    }
    
    .small{
        font-size: 1;
        color: #ffffff;
    }
