<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
		<title>Mapster Travel</title>
		<link href="/static/style.css" rel="stylesheet" type="text/css" />
        <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
	</head>
	<body>
		<div id="nonFooter">
                <!-- Display the header. -->
                <div id="header">
                    <DIV ALIGN=CENTER>
                        <MAP NAME="map1">
                            <AREA HREF="/index" ALT="Mapster" TITLE="Mapster" SHAPE=RECT COORDS="7,28,265,94">
                           <AREA HREF="/about" ALT="About" TITLE="About" SHAPE=RECT COORDS="690,54,797,82">
                        </MAP>

                        <IMG SRC="/images/banner.jpg"
                           ALT="Banner" BORDER=0 WIDTH=800 HEIGHT=100
                           USEMAP="#map1"><BR>
                    </DIV>
                </div>
            <div id="top">
                <div id="map">
                    <center>
                        <iframe name="map-frame" width="800px" height="600px" scrolling="no" frameborder="no" src={{map_url}}></iframe>
                        <p>You are now viewing: {{now_viewing}}</p>
                        <p>&nbsp</p>
                        
                        <form action="/index" method="accept">
                            <input type="radio" name="map-radio" value="All"  onclick="this.form.submit();"/>
                            <label for="All">All</label>
                            <input type="radio" name="map-radio" value="Crime" onclick="this.form.submit();"/>
                            <label for="Crime">Crime & Terrorism</label>
                            <input type="radio" name="map-radio" value="Epidemic" onclick="this.form.submit();"/> 
                            <label for="Epidemic">Epidemic</label>
                            <input type="radio" name="map-radio" value="Politics" onclick="this.form.submit();"/> 
                            <label for="Politics">Politics & Religion</label>
                            <input type="radio" name="map-radio" value="NaturalDisasters" onclick="this.form.submit();"/> 
                            <label for="NaturalDisasters">Natural Disasters</label>
                            <input type="radio" name="map-radio" value="Nuclear" onclick="this.form.submit();"/> 
                            <label for="Nuclear">Nuclear</label>
                            <input type="radio" name="map-radio" value="Other" onclick="this.form.submit();"/> 
                            <label for="Other">Other</label>
                            <input type="radio" name="map-radio" value="Twitter" onclick="this.form.submit();"/> 
                            <label for="Twitter">Twitter</label>
                            <br />
                        </form>
                    </center>
                </div>
            </div>
            <p class="small">Go</p>
            <p class="small">Mapster!</p> 
            <p class="small">more spacing</p> 
            <div id="page-preview-frame">
                
                <div id="tweets"><center>
                    <p>&nbsp;</p>
                    <form action="/index" method="accept">
                        <p align="center">
                        
                            Country:
                            <input name="country" type="sumbit" value="Get Tweets!" />
                        </p>
                    
                    </form>
                    <p>&nbsp</p>
                    {% if are_tweets %}
                        {% for tweet in tweets %}
                            <p align="left" id="tweets">
                                {{tweet.text}} | <a id="tweets" href="{{tweet.url}}">{{tweet.url}}</a>
                            </p>
                        {%endfor%}
                    {%else%}{% if blank_country %}
                         Enter a country above to get real time information from the <a href="http://travel.state.gov/travel/cis_pa_tw/tw/tw_1764.html">U.S. Department of State</a> and <a href="http://www.fco.gov.uk/en/travel-and-living-abroad/travel-advice-by-country/">U.K. Foreign & Commonwealth Office</a>.
                    {%else%}
                        There is no current information about {{country}}
                    {%endif%}{%endif%}
                </center></div>
            </div>
		</div>
			
		<!-- Footer. -->
		<div id="footer">
            <p align="center">
                Information gathered from <a href="http://www.bing.com">Bing</a>, <a href="http://nytimes.com">New York Times</a>, <a href="http://www.twitter.com">Twitter</a> and <a href="http://www.usatoday.com">USA Today</a>.
            </p>
			<p align="center">
                &#169 Mapster Travel Services.  All Rights Reserved. Final project for <a href="http://courses.cse.tamu.edu/caverlee/csce470/" target="_blank" color="#000000">CSCE 470 Fall 2011</a> at <a href="http://www.tamu.edu" target="_blank">Texas A&M University</a>.
            </p>
		</div>			
	</body>
</html>
